# ===============================
# Virtual Environments
# ===============================
venv/
.venv/
env/

# ===============================
# Python cache / compiled files
# ===============================
__pycache__/
*.py[cod]
*$py.class

# ===============================
# Django stuff
# ===============================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# ===============================
# Environment variables
# ===============================
.env
.env.*

# ===============================
# IDEs / Editors
# ===============================
.vscode/
.idea/
*.iml

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Test / coverage
# ===============================
.coverage
htmlcov/
.pytest_cache/

# ===============================
# Build / distribution
# ===============================
build/
dist/
*.egg-info/
